[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
skyfield = "*"
httpx = {extras = ["http2"], version = "*"}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
